{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Viajes</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
  </head>
  <body>
    <div class="contenedor-formulario">
      <h1>Lista de Viajes</h1>
      <p>Bienvenido. Aquí puedes ver y gestionar tus viajes.</p>
      <ul class="viaje-item">
        {% for viaje in viajes %}
        <li>
          <a href="{% url 'detalle_viaje' viaje.id %}">
            {{ viaje.nombre }} ({{viaje.fecha_inicio}} - {{ viaje.fecha_fin}})
          </a>
        </li>
        {% empty %}
        <li>No hay viajes registrados.</li>
        {% endfor %}
      </ul>
      <div class="control-viajes">
        <a class="boton" href="{% url 'registrar_viaje' %}"
          >Registrar nuevo viaje</a
        >
      </div>
    </div>
  </body>
</html>
